{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Fairbanks OIT Hallway Weather</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/solid.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">

  <style>
    .graph-content {
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 10px;
    }

    .curr-stat {
      font-size: 36px;
      text-align: center;
      vertical-align: middle;
      color: lightgrey;
    }

    .curr-meas {
      font-size: 22px;
      vertical-align: unset;
      color: lightgrey;
    }

    .curr-lbl {
      font-weight: 600;
      color: black;
      line-height: 4px;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      margin-bottom: 30px;
    }

    .stat-bar {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: slategray;
    }

    .stat-img {
      height: 80px;
      padding: 10px;
    }

  </style>
</head>
  
<body class="container-fluid">
  <div class="content">
    <center class="row" style="background-color: powderblue; padding-top: 10px;">
      <h5>Fairbanks OIT Hallway Weather</h5>
			<div class="text-end" style="margin-top: -33px;">
				<input type="checkbox" id="auto_refresh" name="auto_refresh" value="false">
				<label for="auto_refresh">Auto-refresh (5min)</label>
			</div>
    </center>
    <div class="row stat-bar">
      <div class="col-md-3">
        <img class="stat-img" src="{% static 'img/icon-temp.svg' %}" alt="Thermometer Image">
        <span class="curr-stat">{{ curr_temp }}</span>
        <span class="curr-meas">&#176;F</span>
      </div>
      <div class="col-md-3">
        <img class="stat-img" src="{% static '/img/icon-humidity.svg' %}" alt="Humidity Image">
        <span class="curr-stat">{{ curr_humidity }}</span>
        <span class="curr-meas">%</span>
      </div>
      <div class="col-md-3">
        <img class="stat-img" src="{% static 'img/icon-pressure.svg' %}" alt="Barometric Pressure Image">
        <span class="curr-stat">{{ curr_pressure }}</span>
        <span class="curr-meas">inHg</span>
      </div>
    </div>
  </div>
  <div class="row">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  </div>
	<div class="graph-content">
    <form class="row gy-2 gx-3 align-items-center" method="GET" action="/"> <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <label for="id_start_date" class="form-label">Start Date/Time</label>
        <div class="input-group" id="start_date_grp" placeholder="Start Date/Time"
          data-td-target-input="nearest" data-td-target-toggle="nearest">
          {{ form.start_date }}
          <span class="input-group-text" data-td-target="#id_start_date" data-td-toggle="datetimepicker">
            <span class="fa-solid fa-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <label for="id_end_date" class="form-label">End Date/Time</label>
        <div class="input-group" id="end_date_grp" data-td-target-input="nearest" data-td-target-toggle="nearest">
          {{ form.end_date }}
          <span class="input-group-text" data-td-target="#id_end_date" data-td-toggle="datetimepicker">
            <span class="fa-solid fa-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <input type="submit" class="btn btn-primary" style="margin-bottom: -25px;" value="Go"></input>
      </div>
    </form>

    <div class="row" style="display: flex; justify-content: center; align-items: center;">
      <div class="col-md-10">
        <canvas id="stats_graph"></canvas>
      </div>
    </div>
  </div>

  <script>
    let refreshTimeout;

		// set up datepickers
    new tempusDominus.TempusDominus(document.getElementById('id_start_date'));
    new tempusDominus.TempusDominus(document.getElementById('id_end_date'));


    function setRefreshQS(is_checked) {
      const url = new URL(location);
      url.searchParams.set("auto_refresh", is_checked);
      history.pushState({}, "", url);
    }
    
    function setRefreshTimeout() {
      refreshTimeout = window.setTimeout( function() {
        window.location.reload();
      }, 300000); 
    }

    function clearRefreshTimeout() {
      clearTimeout(refreshTimeout);
    }

		// auto refresh page when checked
		const refreshChkBox = document.getElementById('auto_refresh');
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });

    if (params.auto_refresh === 'true') {
      refreshChkBox.checked = true;
      setRefreshTimeout();
    }

		refreshChkBox.addEventListener('change', e => {
			if(e.target.checked === true) {
        setRefreshQS(true);
        setRefreshTimeout();
      }
			if(e.target.checked === false) {
        setRefreshQS(false);
				clearRefreshTimeout();
			}
		});

    ctx = document.getElementById('stats_graph');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: 'Pressure',
          backgroundColor: '#00a10596',
          borderColor: '#006003',
          fill: false,
          tension: .3,
          pointStyle: false,
          data: {{ pressure_chart_data|safe }},
        }, {
          label: 'Humidity',
          backgroundColor: '#2196f39e',
          borderColor: '#0074d1',
          fill: false,
          tension: .3,
          pointStyle: false,
          data: {{ humidity_chart_data|safe }},
        }, {
          label: 'Temperature',
          backgroundColor: '#b76d7e7a',
          borderColor: '#971111',
          fill: false,
          tension: .3,
          pointStyle: false,
          data: {{ temp_chart_data|safe }},
        }, {
          label: 'Outside Temp',
          backgroundColor: '#607d8b7a',
          borderColor: '#607d8b',
          fill: false,
          tension: .3,
          pointStyle: false,
          data: {{ outside_temp_chart_data|safe }},
        }]
      },
      options: {
        scales: {
          x: { 
            //type: 'time',
            ticks: {
                autoSkip: true,
                maxTicksLimit: 20 
            }
          }
        }
      },
             
      responsive: true
    });
  </script>
</body>
</html>
